:root {
  --font-family: "Josefin Sans", "IBM Plex Mono", sans-serif;
  --vp-c-accent: #20B2AA;
  --vp-c-text-gray: #9c9c9c;
}

body {
  font-family: var(--font-family);
}

.vp-hero {
  display: none;
}

.vp-home {
  max-width: unset;
}

.vp-navbar-items a {
  color: var(--vp-c-text);
}

button, [type=button], [type=reset], [type=submit], [role=button] {
  color: var(--vp-c-text);
}

.vp-page .theme-default-content {
  max-width: 1245px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

a[target="_blank"]::after {
  content: none !important;
}

.vp-back-to-top-button svg,
.back-to-top-icon {
  color: var(--vp-c-accent);
}

.vp-toggle-color-mode-button :hover {
  color: var(--vp-c-accent);
}

.vp-footer {
  background-color: var(--vp-navbar-c-bg);
}

.vp-home {
  padding: 0;
}

tbody tr:nth-child(odd) {
  background: #f6f6f7;
}