:root {
  --font-family: "Josefin Sans", "IBM Plex Mono", sans-serif;
}

body {
  font-family: var(--font-family);
}

.vp-hero {
  display: none;
}

.vp-home {
  max-width: unset;
}

.vp-navbar-items a {
  color: var(--vp-c-text);
}

button, [type=button], [type=reset], [type=submit], [role=button] {
  color: var(--vp-c-text);
}

.vp-page .theme-default-content {
  max-width: 1245px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}
